* {
    box-sizing: border-box;
}

.keen-slider.thumbnail img {
    width: 100%;
}

.product-list li img {
    max-width: 100%;
    border-radius: 8px;
}

.rb-shape-filter li img {
    width: 42px;
  }

  div#my-keen-slider img {
    width: 100%;
    max-width: 708px;
}

  .product-info-media {
    width: 100%;
    max-width: 708px;
}
  
  ul.rb-tab {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .product-info-media-main {
    display: flex;
}
  
  .shape-type {
    display: flex;
    justify-content: space-between;
    max-width: 1262px;
    margin: 0 auto;
    padding-inline: 15px;
    margin-top: 40px;
    flex-wrap: wrap;
  }
  
  ul.rb-metal-filter label span {
    font-size: 14px;
    color: #848484;
    font-weight: 400;
  }
  
  ul.rb-metal-filter label.active span{
    color: #292929;
  }
  
  ul.rb-shape-filter {
    padding: 0;
    margin-top: 5px;
    flex-wrap: wrap;
  }
  
  .option-type-title {
    color: #292929;
    font-weight: 600;
    font-size: 14px;
  }
  
  ul.rb-metal-filter {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 5px;
    flex-wrap: wrap;
  }
  
  ul.rb-tab li {
    width: 100%;
    font-weight: 500;
    color: #1e1e1e;
    text-align: center;
    border-radius: 8px;
    margin: 0;
    height: 36px;
    line-height: 36px;
    font-family: Inter;
    max-width: 294.42px;
  }
  
  ul.rb-tab li.active{
    background-color: #20578D;
    color: #fff;
  }
  
  .outer-rb-tab {
    padding: 8px;
    border: 1px solid #E6E6E6;
    border-radius: 12px;
    max-width: 1232px;
    width: 100%;
    margin: 0 auto;
  }
  
  .outer-rb-tab-pad {
    padding-inline: 15px;
  }

  .rb-shape-filter {
    display: flex;
    list-style: none;
  }
  .rb-shape-filter .hover-img {
    display: none;
  }
  .rb-shape-filter li:hover .hover-img {
    display: inline-block;
  }
  .rb-shape-filter li:hover img:not(.hover-img) {
    display: none;
  }
  
  .owncontainer{
    max-width: 1262px;
    width: 100%;
    padding-inline: 15px;
    overflow: hidden;
    margin: 0 auto;
  }

  .product-list {
    display: flex;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    gap:20px;
}

.product-list li {
    width: calc(25% - 15px);
    margin-bottom: 20px;
}

.product-list li a{
    font-size: 12.8px;
    font-weight: 400;
    color: #292929;
    letter-spacing: 0;
    text-decoration: none;
}

.product-list li .price__regular {
    font-size: 12.8px;
    color: #939292;
    letter-spacing: 0;
    line-height: 1;
}

.select-type select {
    width: 100%;
    max-width: 240px;
    border: 1px solid #D9D9D9;
    background: #fff;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    color: #1E1E1E;
    padding-inline: 10px;
    outline: none;
    box-shadow: none;
}

.rb-metal-filter li label:before {
    background-image: var(--label-background-image);
    background-repeat: no-repeat;
    border-radius: 100px;
    content: "";
    display: inline-block;
    flex: none;
    height: 26px;
    margin-right: .5rem;
    width: 26px;
}