<div class="outer-rb-tab-pad">
    <div class="outer-rb-tab">
        <ul class="rb-tab">
            <li class="step-1 active">
                1. Select Your Setting
            </li>
            <li class="step-2">
                2. Customized your Settings
            </li>
            <li class="step-3">
                3. Bespoke Customizations
            </li>
            <li class="step-4">
                4. Summary
            </li>
        </ul>
    </div>
</div>

<div class="" id="step-1">
<div class="shape-type">
    <div>
        <div class="option-type-title">
            <span>Select Gemstone Shape:</span>
        </div>
        <ul class="rb-shape-filter">
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/Oval-01.png?v=1720095986&amp;width=100" alt="Oval">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/Oval-02.png?v=1720095986&amp;width=100" alt="Oval">
            </li>
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/Round-01.png?v=1720095985&amp;width=100" alt="Round">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/Round-02.png?v=1720095986&amp;width=100" alt="Round">
            </li>
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/Emerald-01.png?v=1720095983&amp;width=100" alt="Emerald">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/Emerald-02.png?v=1720095983&amp;width=100" alt="Emerald">
            </li>
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/Radiant-01.png?v=1720095983&amp;width=100" alt="Radiant">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/Radiant-02.png?v=1720095984&amp;width=100" alt="Radiant">
            </li>
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/ElongatedCushion-01.png?v=1720095985&amp;width=100" alt="Elongated Cushion">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/ElongatedCushion-02.png?v=1720095986&amp;width=100" alt="Elongated Cushion">
            </li>
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/Pear-01.png?v=1720095985&amp;width=100" alt="Pear">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/Pear-02.png?v=1720095985&amp;width=100" alt="Pear">
            </li>
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/Marquise-01.png?v=1720095984&amp;width=100" alt="Marquise">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/Marquise-02.png?v=1720095986&amp;width=100" alt="Marquise">
            </li>
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/Gemstone_Selectionl-09.png?v=1726453944&amp;width=100" alt="Asscher">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/Gemstone_Selectionl-18.png?v=1726453938&amp;width=100" alt="Asscher">
            </li>
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/Cushion-01.png?v=1720095984&amp;width=100" alt="Cushion">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/Cushion-02.png?v=1720095985&amp;width=100" alt="Cushion">
            </li>
        </ul>
    </div>


    <div>
        <div class="option-type-title">
            <span class="font-bold">Select Metal Type:</span>
        </div>
        <ul class="rb-metal-filter">
            <li class="relative">
                <input type="radio" id="platinum" value="platinum">
                <label for="platinum" class="active" style="--label-background-image: url(//themoissanitecompany.com/cdn/shop/files/metal-platinum.png?v=1715420882&amp;width=27);">
                    <span>Platinum</span>
                </label>
            </li>
            <li class="relative">
                <input type="radio" id="yellow_gold" value="yellow_gold">
                <label for="yellow_gold" class="" style="--label-background-image: url(//themoissanitecompany.com/cdn/shop/files/metal-yellow-gold.png?v=1715420882&amp;width=27);">
                    <span>Yellow Gold</span>
                </label>
            </li>
            <li class="relative">
                <input type="radio" id="rose_gold" value="rose_gold">
                <label for="rose_gold" class="" style="--label-background-image: url(//themoissanitecompany.com/cdn/shop/files/metal-rose-gold.png?v=1715420882&amp;width=27);">
                    <span>Rose Gold</span>
                </label>
            </li>
            <li class="relative">
                <input type="radio" id="white_gold" value="white_gold">
                <label for="white_gold" class="" style="--label-background-image: url(//themoissanitecompany.com/cdn/shop/files/metal-white-gold.png?v=1715420882&amp;width=27);">
                    <span>White Gold</span>
                </label>
            </li>
        </ul>
    </div>
</div>


<div class="owncontainer">
    <ul class="product-list">
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
        <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
        <div class="price__container">
            <div class="price__regular">
            <span class="price-item price-item--regular">
              Rs.314,200.00 PKR
            </span>
        </div>
      </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
    </ul>
</div>
</div>



<div class="product-main-media" id="step-2" style="display:none;">
    <div class="owncontainer">   
    <div class="product-info-media-main">   
    <div class="product-info-media">
    <div id="my-keen-slider" class="keen-slider">
        <div class="keen-slider__slide number-slide1"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032"></div>
        <div class="keen-slider__slide number-slide2"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032" ></div>
        <div class="keen-slider__slide number-slide3"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032"></div>
        <div class="keen-slider__slide number-slide4"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032"></div>
        <div class="keen-slider__slide number-slide5"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032"></div>
        <div class="keen-slider__slide number-slide6"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032"></div>
      </div>
      <div id="thumbnails" class="keen-slider thumbnail">
        <div class="keen-slider__slide number-slide1"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032" ></div>
        <div class="keen-slider__slide number-slide2"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032" ></div>
        <div class="keen-slider__slide number-slide3"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032" ></div>
        <div class="keen-slider__slide number-slide4"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032" ></div>
        <div class="keen-slider__slide number-slide5"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032" ></div>
        <div class="keen-slider__slide number-slide6"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032" ></div>
      </div>
    </div>
      <div class="product-info-main">
        <div class="option-type-title">
            <span class="font-bold">Precious Metal Type</span>
        </div>
        <ul class="rb-metal-filter">
            <li class="relative">
                <input type="radio" id="platinum" value="platinum">
                <label for="platinum" class="active" style="--label-background-image: url(//themoissanitecompany.com/cdn/shop/files/metal-platinum.png?v=1715420882&amp;width=27);">
                    <span>Platinum</span>
                </label>
            </li>
            <li class="relative">
                <input type="radio" id="yellow_gold" value="yellow_gold">
                <label for="yellow_gold" class="" style="--label-background-image: url(//themoissanitecompany.com/cdn/shop/files/metal-yellow-gold.png?v=1715420882&amp;width=27);">
                    <span>Yellow Gold</span>
                </label>
            </li>
            <li class="relative">
                <input type="radio" id="rose_gold" value="rose_gold">
                <label for="rose_gold" class="" style="--label-background-image: url(//themoissanitecompany.com/cdn/shop/files/metal-rose-gold.png?v=1715420882&amp;width=27);">
                    <span>Rose Gold</span>
                </label>
            </li>
            <li class="relative">
                <input type="radio" id="white_gold" value="white_gold">
                <label for="white_gold" class="" style="--label-background-image: url(//themoissanitecompany.com/cdn/shop/files/metal-white-gold.png?v=1715420882&amp;width=27);">
                    <span>White Gold</span>
                </label>
            </li>
        </ul>
        <div class="select-type">
            <div class="heading" style="font-size: 20px; margin-bottom: 0;">
              Metal Karat
              <button type="button" aria-label="More info about metal karat" role="tooltip" tabindex="0" class="reset-btn-style">
                <svg focusable="false" width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path d="M4.5 9C3.60999 9 2.73996 8.73608 1.99994 8.24162C1.25991 7.74715 0.683138 7.04434 0.342544 6.22208C0.00194979 5.39981 -0.0871652 4.49501 0.0864683 3.6221C0.260102 2.74918 0.688685 1.94736 1.31802 1.31802C1.94736 0.688685 2.74918 0.260102 3.6221 0.0864683C4.49501 -0.0871652 5.39981 0.00194979 6.22208 0.342544C7.04434 0.683138 7.74715 1.25991 8.24162 1.99994C8.73608 2.73996 9 3.60999 9 4.5C8.99871 5.69308 8.52419 6.83692 7.68056 7.68056C6.83692 8.52419 5.69308 8.99871 4.5 9ZM4.5 0.750002C3.75832 0.750002 3.0333 0.969936 2.41661 1.38199C1.79993 1.79405 1.31928 2.37972 1.03545 3.06494C0.751625 3.75016 0.677363 4.50416 0.822057 5.23159C0.966752 5.95902 1.3239 6.62721 1.84835 7.15165C2.3728 7.6761 3.04098 8.03325 3.76841 8.17795C4.49584 8.32264 5.24984 8.24838 5.93507 7.96455C6.62029 7.68072 7.20596 7.20007 7.61801 6.58339C8.03007 5.96671 8.25 5.24168 8.25 4.5C8.24891 3.50578 7.85347 2.55258 7.15045 1.84956C6.44742 1.14653 5.49423 0.751094 4.5 0.750002Z" fill="#939292"></path>
                    <path d="M5.25 7.12512H4.5V4.50012H3.75V3.75012H4.5C4.69891 3.75012 4.88968 3.82914 5.03033 3.96979C5.17098 4.11044 5.25 4.30121 5.25 4.50012V7.12512Z" fill="#939292"></path>
                    <path d="M4.5 2.99988C4.81066 2.99988 5.0625 2.74804 5.0625 2.43738C5.0625 2.12672 4.81066 1.87488 4.5 1.87488C4.18934 1.87488 3.9375 2.12672 3.9375 2.43738C3.9375 2.74804 4.18934 2.99988 4.5 2.99988Z" fill="#939292"></path>
                  </g>
                </svg>
              </button>
            </div>
          
            <select>
              <option disabled selected>Select Metal Type</option>
              <option>14 Karat</option>
              <option style="background-color: #990000; color: white;">18 Karat</option>
            </select>
          </div>
          
    </div>
</div>
</div>
</div>