<div class="dddd">dwqdddwdwwwwwwwwwwwwwwww</div>

<p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p>


<style>
    .dddd{
    color:red;
}
</style>


<script>
    jQuery(document).ready(function(){
      $("p").click(function(){
        $(this).hide();
      });
    });
    </script>