<div class="background-title-text">
  <div class="banner--mobile-bottom banner__box">
    <h2 class="banner__heading inline-richtext">Luxury Ring Builder</h2>
    <div class="banner__text rte"> 
    <p>
        Create your dream engagement ring utilising our Signature Ring Builder. Follow each step to design a one of a kind ring, as unique as your love story.
    </p>
        </div>
    </div>
</div>

<div class="collection-hero__text-wrapper">
    <h1 class="collection-hero__title">
      Products
    </h1>
</div>

<div class="outer-rb-tab-pad">
    <div class="outer-rb-tab">
        <ul class="rb-tab">
            <li class="step-1 active">
                1. Select Your Setting
            </li>
            <li class="step-2">
                2. Customized your Settings
            </li>
            <li class="step-3">
                3. Bespoke Customizations
            </li>
            <li class="step-4">
                4. Summary
            </li>
        </ul>
    </div>
</div>

<div class="" id="step-1">
<div class="shape-type">
    <div>
        <div class="option-type-title">
            <span>Select Gemstone Shape:</span>
        </div>
        <ul class="rb-shape-filter">
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/Oval-01.png?v=1720095986&amp;width=100" alt="Oval">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/Oval-02.png?v=1720095986&amp;width=100" alt="Oval">
            </li>
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/Round-01.png?v=1720095985&amp;width=100" alt="Round">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/Round-02.png?v=1720095986&amp;width=100" alt="Round">
            </li>
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/Emerald-01.png?v=1720095983&amp;width=100" alt="Emerald">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/Emerald-02.png?v=1720095983&amp;width=100" alt="Emerald">
            </li>
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/Radiant-01.png?v=1720095983&amp;width=100" alt="Radiant">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/Radiant-02.png?v=1720095984&amp;width=100" alt="Radiant">
            </li>
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/ElongatedCushion-01.png?v=1720095985&amp;width=100" alt="Elongated Cushion">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/ElongatedCushion-02.png?v=1720095986&amp;width=100" alt="Elongated Cushion">
            </li>
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/Pear-01.png?v=1720095985&amp;width=100" alt="Pear">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/Pear-02.png?v=1720095985&amp;width=100" alt="Pear">
            </li>
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/Marquise-01.png?v=1720095984&amp;width=100" alt="Marquise">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/Marquise-02.png?v=1720095986&amp;width=100" alt="Marquise">
            </li>
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/Gemstone_Selectionl-09.png?v=1726453944&amp;width=100" alt="Asscher">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/Gemstone_Selectionl-18.png?v=1726453938&amp;width=100" alt="Asscher">
            </li>
            <li>
                <img src="//themoissanitecompany.com/cdn/shop/files/Cushion-01.png?v=1720095984&amp;width=100" alt="Cushion">
                <img class="hover-img" src="//themoissanitecompany.com/cdn/shop/files/Cushion-02.png?v=1720095985&amp;width=100" alt="Cushion">
            </li>
        </ul>
    </div>


    <div>
        <div class="option-type-title">
            <span class="font-bold">Select Metal Type:</span>
        </div>
        <ul class="rb-metal-filter">
            <li class="relative">
                <input type="radio" id="platinum" value="platinum">
                <label for="platinum" class="active" style="--label-background-image: url(//themoissanitecompany.com/cdn/shop/files/metal-platinum.png?v=1715420882&amp;width=27);">
                    <span>Platinum</span>
                </label>
            </li>
            <li class="relative">
                <input type="radio" id="yellow_gold" value="yellow_gold">
                <label for="yellow_gold" class="" style="--label-background-image: url(//themoissanitecompany.com/cdn/shop/files/metal-yellow-gold.png?v=1715420882&amp;width=27);">
                    <span>Yellow Gold</span>
                </label>
            </li>
            <li class="relative">
                <input type="radio" id="rose_gold" value="rose_gold">
                <label for="rose_gold" class="" style="--label-background-image: url(//themoissanitecompany.com/cdn/shop/files/metal-rose-gold.png?v=1715420882&amp;width=27);">
                    <span>Rose Gold</span>
                </label>
            </li>
            <li class="relative">
                <input type="radio" id="white_gold" value="white_gold">
                <label for="white_gold" class="" style="--label-background-image: url(//themoissanitecompany.com/cdn/shop/files/metal-white-gold.png?v=1715420882&amp;width=27);">
                    <span>White Gold</span>
                </label>
            </li>
        </ul>
    </div>
</div>


<div class="owncontainer">
    <ul class="product-list">
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
        <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
        <div class="price__container">
            <div class="price__regular">
            <span class="price-item price-item--regular">
              Rs.314,200.00 PKR
            </span>
        </div>
      </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
        <li>
            <img src="//themoissanitecompany.com/cdn/shop/files/Yellow1080_Top_AsscherCutSolitaire_00000.jpg?v=1727221725" width="1080"  alt="The Elmira Ring - Asscher Solitaire" class="product-item__primary-image">
            <a href="#">Asscher Cut Trilogy Diamond Engagement Ring</a>
            <div class="price__container">
                <div class="price__regular">
                <span class="price-item price-item--regular">
                  Rs.314,200.00 PKR
                </span>
            </div>
          </div>
        </li>
    </ul>
</div>
</div>



<div class="product-main-media" id="step-2" style="display:none;">
    <div class="owncontainer">   
    <div class="product-info-media-main">   
    <div class="product-info-media">
    <div id="my-keen-slider" class="keen-slider">
        <div class="keen-slider__slide number-slide1"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032"></div>
        <div class="keen-slider__slide number-slide2"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032" ></div>
        <div class="keen-slider__slide number-slide3"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032"></div>
        <div class="keen-slider__slide number-slide4"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032"></div>
        <div class="keen-slider__slide number-slide5"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032"></div>
        <div class="keen-slider__slide number-slide6"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032"></div>
      </div>
      <div id="thumbnails" class="keen-slider thumbnail">
        <div class="keen-slider__slide number-slide1"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032" ></div>
        <div class="keen-slider__slide number-slide2"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032" ></div>
        <div class="keen-slider__slide number-slide3"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032" ></div>
        <div class="keen-slider__slide number-slide4"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032" ></div>
        <div class="keen-slider__slide number-slide5"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032" ></div>
        <div class="keen-slider__slide number-slide6"><img src="//themoissanitecompany.com/cdn/shop/files/Top_6153_Yellow_00000.jpg?v=1698358032" ></div>
      </div>
    </div>
      <div class="product-info-main">
        <h2 class="banner__heading inline-black">Asscher Cut Trilogy Diamond Engagement Ring</h2>
        <div class="option-types"> 
        <div class="option-type-title">
            <span class="font-bold">Precious Metal Type</span>
        </div>
        <ul class="rb-metal-filter">
            <li class="relative">
                <input type="radio" id="platinum" value="platinum">
                <label for="platinum" class="active" style="--label-background-image: url(//themoissanitecompany.com/cdn/shop/files/metal-platinum.png?v=1715420882&amp;width=27);">
                    <span>Platinum</span>
                </label>
            </li>
            <li class="relative">
                <input type="radio" id="yellow_gold" value="yellow_gold">
                <label for="yellow_gold" class="" style="--label-background-image: url(//themoissanitecompany.com/cdn/shop/files/metal-yellow-gold.png?v=1715420882&amp;width=27);">
                    <span>Yellow Gold</span>
                </label>
            </li>
            <li class="relative">
                <input type="radio" id="rose_gold" value="rose_gold">
                <label for="rose_gold" class="" style="--label-background-image: url(//themoissanitecompany.com/cdn/shop/files/metal-rose-gold.png?v=1715420882&amp;width=27);">
                    <span>Rose Gold</span>
                </label>
            </li>
            <li class="relative">
                <input type="radio" id="white_gold" value="white_gold">
                <label for="white_gold" class="" style="--label-background-image: url(//themoissanitecompany.com/cdn/shop/files/metal-white-gold.png?v=1715420882&amp;width=27);">
                    <span>White Gold</span>
                </label>
            </li>
        </ul>
    </div>
        <div class="select-type">
            <div class="option-type-title">
              Metal Karat
            </div>
            <select>
              <option disabled selected>Select Metal Type</option>
              <option>14 Karat</option>
              <option>18 Karat</option>
            </select>
          </div>
          
        <div class="option-types">
            <div class="option-type-title">
                Band Width
            </div>
            <div class="product-option__button">
                <div>
                    <input type="radio" name="option3" id="setting-height-0" value="High setting"> 
                    <label for="setting-height-0" class="">1.7mm</label>
                </div>
                <div>
                    <input type="radio" name="option3" id="setting-height-1" value="Low setting"> 
                    <label for="setting-height-1" class="">2.0mm</label>
                </div>
                <div>
                    <input type="radio" name="option3" id="setting-height-1" value="Low setting"> 
                    <label for="setting-height-1" class="">2.5mm</label>
                </div>
                <div>
                    <input type="radio" name="option3" id="setting-height-1" value="Low setting"> 
                    <label for="setting-height-1" class="">2.0mm</label>
                </div>
                <div>
                    <input type="radio" name="option3" id="setting-height-1" value="Low setting"> 
                    <label for="setting-height-1" class="">2.0mm</label>
                </div>
            </div>
        </div>

        <div class="option-types">
            <div class="option-type-title">
            Setting Height
            </div>
            <div class="product-option__button">
                <div>
                    <input type="radio" name="option3" id="setting-height-0" value="High setting"> 
                    <label for="setting-height-0" class="">High setting</label>
                </div>
                <div>
                    <input type="radio" name="option3" id="setting-height-1" value="Low setting"> 
                    <label for="setting-height-1" class="">Low setting</label>
                </div>
            </div>
        </div>

          <div class="select-type">
            <div class="option-type-title">
                Ring Size
            </div>
            <select>
                <option disabled selected>Select Ring Size</option>
    <option value="F">F</option>
    <option value="F 1/2">F 1/2</option>
    <option value="G">G</option>
    <option value="G 1/2">G 1/2</option>
    <option value="H">H</option>
    <option value="H 1/2">H 1/2</option>
    <option value="I">I</option>
    <option value="I 1/2">I 1/2</option>
    <option value="J">J</option>
    <option value="J 1/2">J 1/2</option>
    <option value="K">K</option>
    <option value="K 1/2">K 1/2</option>
    <option value="L">L</option>
    <option value="L 1/2">L 1/2</option>
    <option value="M">M</option>
    <option value="M 1/2">M 1/2</option>
    <option value="N">N</option>
    <option value="N 1/2">N 1/2</option>
    <option value="O">O</option>
    <option value="O 1/2">O 1/2</option>
    <option value="P">P</option>
    <option value="P 1/2">P 1/2</option>
    <option value="Q">Q</option>
    <option value="Q 1/2">Q 1/2</option>
    <option value="R">R</option>
    <option value="R 1/2">R 1/2</option>
    <option value="S">S</option>
    <option value="S 1/2">S 1/2</option>
    <option value="T">T</option>
    <option value="T 1/2">T 1/2</option>
    <option value="U">U</option>
    <option value="U 1/2">U 1/2</option>
    <option value="V">V</option>
    <option value="V 1/2">V 1/2</option>
    <option value="W">W</option>
    <option value="W 1/2">W 1/2</option>
    <option value="X">X</option>
    <option value="X 1/2">X 1/2</option>
    <option value="Y">Y</option>
    <option value="Z">Z</option>
    <option value="Z 1/2">Z 1/2</option>
            </select>
          </div>

          <button class="next-step-button" id="next-step">Next Step</button>

    </div>
</div>
</div>
</div>