<div class="dddd">dwqdddwdwwwwwwwwwwwwwwww</div>

<p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p>


<style>
    .dddd{
    color:red;
}
</style>


<button type="button"
    onclick="document.getElementById('demo').innerHTML = Date()">
    Click me to display Date and Time.</button>
    
    <p id="demo"></p>